@font-face {
    font-family: 'Space Mono';
    src: url('SpaceMono-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('SpaceMono-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'Space Mono';
    src: url('SpaceMono-Italic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Space Mono';
    src: url('SpaceMono-BoldItalic.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'NMS-Glyphs-Mono';
    src: local('NMS-Glyphs-Mono'), local('NMS-Glyphs-Mono'), url(NMS-Glyphs-Mono.ttf) format('truetype')
}

@font-face {
    font-family: 'NMS-Glyphs-Tight';
    src: local('NMS-Glyphs-Tight'), local('NMS-Glyphs-Tight'), url(NMS-Glyphs-Tight.ttf) format('truetype')
}

@font-face {
    font-family: 'Geosanslight-NMS';
    src: local('Geosanslight-NMS'), url(geonms-webfont.ttf) format('truetype')
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(/Raleway-Regular.ttf) format('truetype')
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(/Raleway-Bold.ttf) format('truetype')
}

table.system_address,
table.system_address tr,
table.system_address tr th,
table.system_address tr td {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    font-family: 'Space Mono', monospace;
}

table.system_address thead tr th {
    font-family: 'Times New Roman', Times, serif;
}

table.system_address thead tr {
    background-color: grey;
}

table.system_address tbody tr.odd {
    background-color: lightgray;
}

table.system_address tbody tr.even {
    background-color: whitesmoke;
}

table.system_address tbody tr.odd.overflow {
    background-color: palevioletred;
}

table.system_address tbody tr.even.overflow {
    background-color: pink;
}

table.system_address tbody tr.odd.zero {
    background-color: aqua;
}

table.system_address tbody tr.even.zero {
    background-color: cornflowerblue;
}
D
.addr {
    text-align: right;
}

.hex {
    text-align: right;
}

.portal_code {
    text-align: right;
}
.galaxy {
    text-align: right;
}

table.system_address tr td.portal_address {
    text-align: right;
    padding: 0;
    /* font-family: NMS-Glyphs-Tight; */
    font-family: NMS-Glyphs-Mono;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    top: 0.2em;
    color: #0011ff;
}

table.system_address tr td.portal_code span.planetNumber,
table.system_address tr td.portal_address span.planetNumber {
    color: black;
}

table.system_address tr td.portal_code span.systemIndex,
table.system_address tr td.portal_address span.systemIndex {
    color: black;
}

table.system_address tr td.portal_code span.yDir,
table.system_address tr td.portal_address span.yDir {
    color: black;
}

table.system_address tr td.portal_code span.zDir,
table.system_address tr td.portal_address span.zDir {
    color: black;
}

table.system_address tr td.portal_code span.xDir,
table.system_address tr td.portal_address span.xDir {
    color: black;
}

